
<%- @products.each do | product | %>
  

  <a class="ph-product-link" href="<%= product.product_url || "http://producthunt.com"%>"><div class="ph-name"><%= product.name %></div><div class="ph-tagline"><%= product.tagline %></div></a>
<% end %>

