/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.product-submit-form form {
  width: 480px;
  margin: 0 auto;
  border: 1px #ccc solid;
  border-radius: 30px;
  padding: 30px;
}
.product-submit-form input, .product-submit-form select {
  border: none;
  border-bottom: 1px green solid;
  width: 100%;
  margin-top: 12px;
  font-size: 14px;
}

.form-elem {
  margin-bottom: 24px;
  font-size: 18px;
}

.product-submit-form input[name="commit"] {
  border: 1px grey solid;
  height: 40px;
  border-radius: 16px;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 20px;
}

button.btn.btn-default.navbar-btn {
}

.product-properties {
  max-width: 970px;
  width: 60%;
  margin: 0 auto;
}
@media all and (max-width: 699px) {
  .product-properties {
    width: auto;
  }
}

.product-container {
  position: relative;
}

.ph-button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  background: red;
  color: white;
  FONT-SIZE: 32px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.ph-button.approve-button {
  left:auto;
  right: 0;
  background: green;
}

@media all and (max-width: 699px) {
  .ph-button {
    position: fixed;
    width: 50%;
    z-index: 1;
    top: auto;
    height: 60px;
  }
}

.team-member {
  margin-right: 24px;
}

.team-info-label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-right: 24px;
}

