// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.product-submit-form {
  form {
    width: 480px;
    margin: 0 auto;
    border: 1px #ccc solid;
    border-radius: 30px;
    padding: 30px;
  }
  input, select {
    border: none;
    border-bottom: 1px green solid;
    width: 100%;
    margin-top: 12px;
  }
}
