<div class="product-container jumbotron container ">
	<div class="list-group">
		<div class="screenshots  list-group-item">
			<div class="screenshot col-xs-12 col-md-4">
				<div class="screenshot-image thumbnail">
					<img src="http://a3.mzstatic.com/us/r30/Purple5/v4/39/0c/f1/390cf102-efcc-65a8-c7b2-216ae42bdfb5/screen568x568.jpeg" alt="">
					<div class="screenshot-description caption">Home Page</div>
				</div>
			</div>
			<div class="screenshot col-xs-12 col-md-4">
				<div class="screenshot-image thumbnail">
					<img src="http://a1.mzstatic.com/us/r30/Purple1/v4/40/b7/0b/40b70b74-11ae-28ee-d58e-a67e04a756cf/screen568x568.jpeg" alt="">
					<div class="screenshot-description caption">Review page</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="app-info list-group-item">
			<div class="left-col pull-left">
				<div class="app-logo">
					<img src="http://a2.mzstatic.com/us/r30/Purple1/v4/8c/9e/bf/8c9ebffa-c820-9dcf-e73c-21069cd94cb1/icon200x200.jpeg" alt="">
				</div>
				<div class="app-name"></div>
			</div>
			<div class="info-container">
				<div class="category info-div">
					<span class="">Category:</span>
					Music
				</div>
				<div class="platform info-div">
					<span class="">Platform:</span>
					iOS
				</div>
				<div class="accelerator info-div">
					<span class="">Accelerator:</span>
					link
				</div>
				<div class="link info-div">
					<span class="">Link:</span>
					link
				</div>
				<div class="app-store-link info-div">
					<span class="">App Store:</span>
					app_store_link
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="team-info list-group-item">
			<div class="team-info-label left-col pull-left"></div>
			<div class="team-member pull-left">
				<div class="name member-detail">Mark Zuckerberg</div>
				<div class="designation member-detail">CEO</div>
				<div class="linkedin member-detail">Linkedin</div>
				<div class="crunchbase member-detail">Crunchbase</div>
			</div>
			<div class="team-member pull-left">
				<div class="name member-detail">Makarma Berserk</div>
				<div class="designation member-detail">CTO</div>
				<div class="linkedin member-detail">Linkedin</div>
				<div class="crunchbase member-detail">Crunchbase</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

